{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "/home7.css" %}'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Home</title>
</head>

<header>
    <div class="background">
        <!-- Contenido de la página de inicio aquí -->
        <h1>Bienvenido Aventurero</h1>
        <p>Tenemos el agrado de invitarte a una aventura por la busqueda del conocimiento. 
            se perte de nuestro equipo y haz crecer tus conocimientos.
        </p>
        <a href="#" class="btn-1">informacion</a>
    </div>
</header>
<section class "libros">
    <img clas="libros-img" src="images/1.JPG" alt="">
    <div class="libros-conten container">
        <h2>Los diferentes tipos de materia</h2>
        <p class "txt-p">
            Al invertir en tu educación durante la educación básica, estarás sentando las
            bases para un aprendizaje continuo y un crecimiento personal a lo largo de tu vida.
        <p>
        <div class ="libros-group">
            <div class ="libros-1">
                <img src="images/4.png" alt="">
                <h3>Libro matematica</h3>
                <p>
                    Las matemáticas son fundamentales para desarrollar habilidades
                    de razonamiento lógico, resolución de problemas y pensamiento crítico. 
                    A través de las matemáticas, se aprende a entender y aplicar conceptos
                    numéricos, geométricos, algebraicos y estadísticos, lo que proporciona
                    herramientas para abordar problemas en diversas áreas, desde la ciencia
                    hasta las finanzas.
                </p>
            </div>
            <div class ="libros-2">
                <img src="images/5.png" alt="">
                <h3>Libro lenguaje</h3>
                <p>
                    El estudio del lenguaje permite desarrollar habilidades de comunicación 
                    efectiva, comprensión lectora y expresión escrita. A través del lenguaje,
                    se adquiere la capacidad de expresar ideas de manera clara y coherente, 
                    así como de interpretar y analizar textos de diferentes géneros y estilos.
                    Además, el lenguaje es fundamental para el desarrollo del pensamiento
                    crítico y la construcción de conocimiento.
                </p>
            </div>
            <div class ="libros-3">
                <img src="images/6.png" alt="">
                <h3>Libro historia</h3>
                <p>
                    El estudio de la historia proporciona una comprensión profunda del pasado humano
                    y de cómo han evolucionado las sociedades a lo largo del tiempo. A través de la historia,
                    se aprende sobre eventos significativos, figuras clave y procesos históricos que han dado
                    forma al mundo en que vivimos. Además, el estudio de la historia fomenta la apreciación de
                    la diversidad cultural, la reflexión sobre el presente y la anticipación de posibles futuros.
                </p>
            </div>
        </div>
        <a href="#" class="btn-1">informacion</a>
    </div>
</section>
<main class ="services">
    <div class=" services-content container">
        <h2>chatbot servicios</h2>
        <div class="services-group">
            <div class="services-1">
                <img src="" alt="">
                <h3>servicio 24/7</h3>
            </div>
            <div class="services-1">
                <img src="images1/i2.svg" alt="">
                <h3>soporte</h3>
            </div>
            <div class="services-1">
                <img src="images1/i3.svg" alt="">
                <h3>asistencia</h3>
            </div>
        </div>
        <a href="#" class="btn-1">informacion</a>
    </div>
</main>
<section class="general">
    <div class="general-1">
        <h2>¿QUE ES UN CHATBOT?</h2>
        <p>
            Un chatbot es un programa de computadora diseñado
            para simular conversaciones humanas, ya sea a 
            través de texto o voz, utilizando inteligencia 
            artificial. Estos sistemas automatizados pueden
            interactuar con usuarios de manera similar a como
            lo haría un humano, respondiendo preguntas, 
            brindando información, realizando tareas 
            específicas o llevando a cabo procesos predefinidos.
        </p>
        <a href="#" class="btn-1">informacion</a>
    </div>
    <div class="general-2"></div>
</section> 
<section class="general">
    <div class="general-3"><7div>
    <div class="general-1">
        <h2>BENEFICIOS</h2>
        <p>
            El beneficio principal de un chatbot es la 
            automatización de la interacción con los usuarios,
            lo que proporciona respuestas rápidas y eficientes
            a consultas comunes o tareas específicas
        </p>
        <a href="#" class="btn-1">informacion</a>
    </div>
</section>  
<section classm="bolg container">
    <h2>Blog</h2>     
    <div class="bolg-content">
        <div class="bolg-1">
            <img src="images1/blog1.jpg" alt="">
            <h3>Artículos educativos</h3>
            <p> 
                artículos informativos sobre temas
                relacionados con la educación, como
                estrategias de enseñanza, técnicas de
                aprendizaje y desarrollo de habilidades.
            </p>
        </div>
        <div class="bolg-1">
            <img src="images1/blog2.jpg" alt="">
            <h3>Guías de uso del chatbot</h3>
            <p>
                Crea guías detalladas que expliquen cómo 
                utilizar el chatbot educativo de manera 
                efectiva para diferentes propósitos, ya sea 
                para estudiar matemáticas, aprender un idioma
                o mejorar habilidades específicas. 
            </p>
        </div>
        <div class="bolg-1">
            <img src="images1/blog3.jpg" alt="">
            <h3>Actualizaciones y novedades</h3>
            <p> 
                Nuevas características, actualizaciones y 
                mejoras en el chatbot educativo
            </p>
        </div>
    </div>
    <a href="#" class="btn-1">informacion</a>
</section> 

  
   



{% endblock %}